@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-900: #055d57;
  --primary-800: #008080;
  --primary-700: #009497;
  --primary-600: #00a9af;
  --primary-500: #00b9c1;
  --primary-400: #26c3c7;
  --primary-300: #4dcecf;
  --primary-200: #80dddb;
  --primary-100: #b1eae8;
  --primary-50: #dff7f6;
}

.material-icons {
  cursor: pointer;
}

/* All elements that use tool-tip must be of position relative for tool-tip absolute position to work. If it is needed to be something else, wrap it in a div instead and apply desired positioning to the div. */
.tool-tip {
  position: relative;
}

.tool-tip::after {
  content: attr(data-tool-tip);
  width: max-content;
  position: absolute;
  padding: 4px 8px;
  background-color: var(--primary-900);
  color: rgb(255, 255, 255, 70%);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.5s;
  z-index: 50;
}

.tool-tip-top-left::after {
  left: 0px;
  top: -8px;
  transform: translateY(-100%);
}

.tool-tip-top-right::after {
  right: 0px;
  top: -8px;
  /* Allows div to expand towards left */
  width: max-content;
  transform: translateY(-100%);
}

.tool-tip-bottom-left::after {
  left: 0px;
  bottom: -8px;
  transform: translateY(100%);
}

.tool-tip-bottom-right::after {
  right: 0px;
  bottom: -8px;
  /* Allows div to expand towards left */
  width: max-content;
  transform: translateY(100%);
}

.tool-tip:hover::after {
  opacity: 1;
}


/* TODO: Add comments on cross browser compatibility */
.hide-scrollbars {
  scrollbar-width: none;
}

.hide-scrollbars::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary-800);
  border-radius: 8px;
  height: 32px;
}